body{
	background-color: gray;
}
p{
	text-align: center;
}
h3{
	text-align: center;
}
table,td{
	color: white;
	border: 2px solid white;
	text-align: center;
	background-color: blue;
}
.HautPage{
	width: 100%;
	height: 200px;
	background-color: black;
	text-align: center;
}
#Smite{
	width: 355px
}
.table {
	width: 100%;
}
.ContenuGauche{
	height: 600px;
	width: 25%;
	background-color: rgb(218,165,32);
	margin-left: 30px;
	margin-top: 30px;
	text-align: left;
}
.Titre{
	text-align:center;
}
.Millieu{
	background-color: antiquewhite;
	display: block;
	align-self: auto;
	height: 620px;
	width: 75%;
}
.Allo{
	background-color: black;
	height: 600px;
	width: 300px;
	display: block;
	align-self: auto;
}